* {
    padding: 0;
    margin: 0;
}

.box{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box h1 {
    font-size: 10rem;
}